<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>TAREA 1 </title>
</head>

<body>
    <br>
    <br>
    <br>
    <div class="container">

    </div>
    <div class="container">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Actualizar Token
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="/token">Generar</a>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Crear Contacto
                </div>
                <div class="card-body">
                    <form action="/create" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">name:</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Listar Contactos
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="/list">Listar</a>
                </div>
            </div>
        </div>

    </div>

</body>

</html>